{{>header}}
<body>

<h1 style="color: #4485b8;">Bienvenido a tu carrito de informatica preferida</h1>


	<p>Productos en carrito:</p>

	<ul>
        {{#carrito.listaProductos}}
            <li>{{nombre}} //\\ {{precio}} Euros</li>
        {{/carrito.listaProductos}}
    </ul>
<p>&ensp;</p>
<p>&ensp;</p>
<form action="/pedido" method="post">
<div>
    <label>Nombre: </label>
    <input name="nombre" placeholder="nombre" required/>
</div>
<div>
    <label>Apellido: </label>
    <input name="Apellido" placeholder="Apellido" required/>
</div>
<div>
    <label>Telf: </label>
    <input type="tel" name="Telefono" placeholder="telefono" pattern="[0-9]{9}" required></textarea>
</div>
<div>
    <label>mail: </label>
    <input type="email" name="Mail" placeholder="user@example.com" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required>
</div>
<div>
    <label>Direccion: </label>
    <input direccion="calle"  name="Direccion" placeholder="Direccion" required/>
</div>
<div>
    <label>CP: </label>
    <input cp="calle" placeholder="Codigo postal"  name="CP" pattern="[0-9]{5}" required/>
</div>
    <p>&ensp;</p>
    <input type="submit" value="Realizar Compra"/>

    <p>&ensp;</p>
<form>
    <button onclick="location.href='/vaciarCarrito'">Vaciar Carrito</button>
    <button onclick="location.href='/'">Inicio</button>

    <input type="hidden" name="_csrf" value="{{token}}"/>

{{>footer}}