{{>header}}

<h1 style="color: #4485b8;">Bienvenido a tu tienda de informatica preferida</h1>


	<p>productos in list:</p>

	<ul>
	{{#productos}}
	<li><a href="/producto/{{id}}">{{nombre}}</a></li>
	{{/productos}}
	</ul>

{{#isAdmin}}
<button onclick="location.href='/nuevoProducto'">AGREGAR PRODUCTO</button>
{{/isAdmin}}

{{#logged}}
<button onclick="location.href='/carrito/'">VER CARRITO</button>
{{/logged}}

{{^logged}}
<button onclick="location.href='/nuevoUsuario'">CREAR USUARIO</button>
{{/logged}}
<button onclick="location.href='/faq.html'">PREGUNTAS FRECUENTES</button>

{{>footer}}


