<!DOCTYPE html>
<html>
<body>

<h1 style="color: #4485b8;">Bienvenido a tu tienda de informatica preferida</h1>

<p>
	<strong style="color: #000;">Desde esta ventana podras
		seleccionar el tipo usuario con el que quiera acceder: </strong>
</p>
	<p>productos in list:</p>

	<ul>
	{{#productos}}
	<li><a href="/producto/{{id}}">{{nombre}}</a></li>
	{{/productos}}
	</ul>

<a href="/login">IDENTIFICARSE</a>

<a href="/agregarusu">AGREGAR USUARIO</a>

<a href="/faq.html">PREGUNTAS FRECUENTES</a>

</body>

</html>


<!--

<h2>Productos</h2>
<ul class="productos">
	{{#productos}}
	<li><a href="/productos/{{id}}">{{nombre}}</a></li>
	{{/productos}}
</ul>

-->